/* Style général du corps */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

/* Style du titre */
h1 {
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.animated-title {
    animation: fadeIn 1.5s ease-in-out, glow 1.5s ease-in-out infinite alternate;
}

/* Animation pour le titre */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes glow {
    from {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    }
    to {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1);
    }
}

/* Conteneur principal pour centrer le contenu */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* Conteneur vidéo */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 800px;
    margin-top: 20px;
}

/* Style du cadre vidéo */
.video-frame {
    width: 100%;
    border: 4px solid #fff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: slideIn 1s ease-out;
}

/* Animation pour le cadre vidéo */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
